<!DOCTYPE html>

<head>
	<style>
		body{
			background-color: gray;
	
		}
		ul {
			width: 100px;	
			margin: 350px auto 0 auto;
			padding 0;
			list-style: none;
		}
		ul li {
			padding: 2px 5px;
		}
		ul li:before {
			content:url(http://www.un.org/en/oaj/unjs/efiling/added/images/bullet-list-icon-blue.jpg);;
		}

	</style>
</head>
<body>
	<div class="center">
		{% if app_names %}
		<ul>
			You have {{app_names|length}} apps :
			{% for i in app_names  %}
			<li>{{i}}</li>
			{% endfor %}
		</ul>
		{% else  %}
			You have no apps
		{% endif  %}

		{% if latest_counter %}
    		<ul>
    			{% for i in latest_counter %}
        			<li><a href="http://{{request.get_host}}/counters_app/dashboard/{{i}}/{{db}}"> {{ i }}</a></li>
    			{% endfor %}
    		</ul>
		{% else %}
    			<p>No polls are available.</p>
		{% endif %}
	</div>
</body>
