body{
    background: linear-gradient(
    to right, 
    #E3E0CF 0%,
    #a19c81 0%, 
    #E3E0CF 50%,
    #a19c81 50%, 
    #FFF 50%, 
    #FFF 100%
  );
   height: 100%;
   width: 100%;
}

h1{
   padding: 7%;
   text-align:center;
   margin-left: auto;
   width:80%;
} 
form{
   
    background-repeat: no-repeat; 
    background: #C5D5CB; 
    background: -webkit-linear-gradient(#C5D5CB, #9FA8A3);  
    background: -o-linear-gradient(#C5D5CB, #9FA8A3); 
    background: -moz-linear-gradient(#C5D5CB, #9FA8A3); 
    background: linear-gradient(#C5D5CB, #9FA8A3); 
    padding:7%;
    text-align: center;
    
}

.button{
    background-color: #3B3A36;
    float: center;
    margin: 50px; 
    padding: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.box{
   display: block;
   text-align: center;
   
   width:90%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;

}

